<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <section class="main-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

<!-- 代码块高亮 -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!-- 添加统计历史访问人数 -->
<a href="http://s11.flagcounter.com/more/JFJ"><img src="http://s11.flagcounter.com/count2/JFJ/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
  </body>

    {% include scripts.html %}

</html>
